@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

html {
  overflow-y: hidden;
}
/* General */
body {
  background-image: linear-gradient(rgb(58, 88, 83), rgb(29, 40, 42));
  color: white;
  font-family: "Signika", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  height: 110vh;
  text-shadow: 2px 2px black;
  user-select: none;
}

/* Playlist title */
#playlist-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 20px;
  user-select: none;
}

/* Button */
button {
  background-color: inherit;
  border: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

/* Song Info */
#song-info {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

/* Progress Bar */
#progress-bar {
  background-color: #8cabb2;
  border-radius: 100px;
  height: 5px;
  width: 100%;
}

#progress-container {
  cursor: pointer;
  padding-bottom: 1em;
}

#current-progress {
  --progress: 0%;
  background-color: white;
  border-radius: inherit;
  height: inherit;
  width: var(--progress);
}

/* Below Cover */
#below-cover {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Button Container */
#button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Song Name */
#song-name {
  font-size: 1.4em;
  font-weight: bolder;
}

/* Cover */
#cover {
  background-size: cover;
  border-radius: 100%;
  height: 300px;
  object-fit: cover;
  width: 300px;
}

/* classes */

.container {
  display: flex;
  flex-direction: column;
}

.imagem-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  font-size: 1.2em;
}

.button-bigger {
  font-size: 2em;
}

.button-like {
  font-size: 0.8em;
}

.active {
  color: rgb(0, 183, 107);
}

.light-color {
  color: #bed7dd;
}

/* Media Cares*/

@media screen and (min-width: 767px) {
  .container {
    margin: 0 20%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    margin: 0 10%;
  }

  .imagem {
    width: 200px;
  }

  #song-name {
    font-size: 1em;
  }

  #band-name {
    font-size: 0.6em;
  }
}
