@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

html {
  overflow-y: auto;
}

body {
  user-select: none;
  background-image: linear-gradient(rgb(58, 88, 83), rgb(29, 40, 42));
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px black;
  font-family: "Signika";
  font-weight: 900;
  height: 110vh;
}

#playlist-title {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
}

button:hover {
  cursor: pointer;
}

/* ID's */

#song-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

#progress-bar {
  background-color: #8cabb2;
  height: 5px;
  width: 100%;
  border-radius: 100px;
}

#progress-container {
  padding-bottom: 1em;
  cursor: pointer;
}

#current-progress {
  --progress: 0%;
  height: inherit;
  background-color: white;
  width: var(--progress);
  border-radius: inherit;
}

#below-cover {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#song-name {
  font-size: 1.4em;
  font-weight: bolder;
}

#cover {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background-size: cover;
}

/* classes */

.container {
  display: flex;
  flex-direction: column;
}

.imagem-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  font-size: 1.2em;
}

.button-bigger {
  font-size: 2.2em;
}

.button-like {
  font-size: 0.8em;
}

.light-color {
  color: #bed7dd;
}

/* Media Cares*/

@media screen and (min-width: 767px) {
  .container {
    margin: 0 20%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    margin: 0 10%;
  }

  .imagem {
    width: 200px;
  }

  #song-name {
    font-size: 1em;
  }

  #band-name {
    font-size: 0.6em;
  }
}
